# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook 체크포인트
.ipynb_checkpoints/

# 환경 파일
.env

# Conda / virtualenv
.env/
venv/
.venv/
env/
ENV/
*.egg-info/

# IDE
.vscode/
.idea/

# OS 파일
.DS_Store
Thumbs.db



# # 데이터/결과 무시 (각 폴더는 유지한채로 내용물만 무시하는 것으로 변경)
# */data/
# */result/



